<div class="container my-5 d-grid gap-5">
<div class="card">
    <div class="card-body">
        <h1>about</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe aliquam doloribus optio id. 
            Voluptatibus sequi praesentium eveniet omnis maiores. Enim nisi maxime earum cum, quidem distinctio 
            tempore ut. Quod, laudantium.</p>
        

    </div>
</div>
</div>
