<div class="container my-5 d-grid gap-5">
<div class="card">
    <div class="card-body">
        <h1>Sobre nosotros</h1>
        <h2><b>Mision: </b></h2>
        <p>Lograr que nuestra plataforma sea lider mundial en el comercio electrónico, brindado a clientes y usuarios seguridad,
        facilidad y movilididad a la hora de efectuar compras. <br> Generar fuentes de empleos creando la red de mercado mas
        grande del mundo, dando oportunidad a miles de personas que de acuerdo a su capacidad y esfuerzo pueda lograr 
        obtener fuertes ingresos en tiempo record.<br> Como parte de la visión mas importante tenemos el desarrollo de 
        obras sociales a través del movimiento de <b>DIOS</b>, luz en la oscuridad llevando asi ayuda a las personas mas
        necesitadas por medio de alimentos, ropa y conocimiento.<br><br></p>

        <h3><b> Vision: </b></h3>
        <p> a todo el mundo tiendas online, paginas web y estrategias de marketing de modo que su negocio
        <b>venda mas y pague menos</b>, con la mayor calidad posible y al menor precio, de esa manera lograr que nuestros servicios
        llegue a todo tipo de publico, desde una persona particular que desee vender un producto desde su casa, hasta una gran empresa que 
        desee vender miles de productos, haciendo de la pagina la mejor opcion para ellos con una arquitectura confiable y amigable.</p><BR>
        
    </div>
</div>
</div>
