    <style>
      .banner-image {
        background-image: url('img/index2.jpg');
        background-size: cover;
        
      }
        </style>
    <!-- Banner Image  -->
    <div
      class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center"
    >
      <div class="content text-center">
        <h1 class="text-white">PANADERIA</h1>
      </div>
    </div>
    <!-- Main Content Area -->
  
    
 
 <div class="container col-12">
   <div class="row">
    <div class="listado col-12 mt-4">
      <h1 id="list">Productos</h1>
    </div>
    <br>

      {{#each products}}
      
    <div class="col-sm-3 my-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center"><img id="img_obs" class="img-rounded mx-auto d-block m-4" src={{imgUrl}} width="150px" height="150px"></h5>
        <p class="card-text"><label id="desayuno">{{name}}</label><br>${{unitaryPrice}}</p>
        <p class="collapse" id="collapseExample">
    Ver mas Respecto a este Articulo
    
  </p>
        <p class="card-text text-center">
        <a data-toggle="modal" data-target="#exampleModal3"  href="#" class="btn btn-primary">Añadir al Carrito</a>
      </p>
      </div>
    </div>
  </div>

    {{/each}}