<footer class="page-footer bg-dark mt-4">
<div class="bg-success">
    <div class="container">
        <div class="row py-4 d-flex.align-items-center">
            <div class="col-md-12 text-center">
                <a href="/"><i class="fa-brands fa-facebook text-white mr-4"></i></a>
                <a href="/"><i class="fa-brands fa-twitter text-white mr-4"></i></a>
                <a href="/"><i class="fa-brands fa-google text-white mr-4"></i></a>
                <a href="/"><i class="fa-brands fa-linkedin text-white mr-4"></i></a>
                <a href="/"><i class="fa-brands fa-instagram text-white mr-4"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="container text-center text-md-left text-white mt-5">
    <div class="row">
        <div class="col-md-3 mx-auto mb-4">
            
                <h6 class="text-uppercase font-weight-bold">The providers</h6>
                <hr class="bg-succes mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">
                <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    In id architecto sit placeat sed consectetur nobis eum, hic cumque similique consequatur, 
                    repellendus eveniet asperiores sint optio error. Architecto, iure cum.</p>
            
        </div>
        
        <div class="col-md-2 mx-auto mb-4">
            
            <h6 class="text-uppercase font-weight-bold">Products</h6>
            <hr class="bg-succes mb-4 mt-0 d-inline-block mx-auto" style="width: 85px; height: 2px">
            <ul class="list-unstyled">
                <li class="my-2"><a href="#">Html</a></li>
                <li class="my-2"><a href="#">Css 3</a></li>
                <li class="my-2"><a href="#">Bootstrap</a></li>
                <li class="my-2"><a href="#">Javascript</a></li>
            </ul>

            
            

        </div>

        <div class="col-md-2 mx-auto mb-4">
            
            <h6 class="text-uppercase font-weight-bold">USEFULL LINKS</h6>
            <hr class="bg-succes mb-4 mt-0 d-inline-block mx-auto" style="width: 110px; height: 2px">

            <ul class="list-unstyled">
                <li class="my-2"><a href="#">Home</a></li>
                <li class="my-2"><a href="#">About</a></li>
                <li class="my-2"><a href="#">Services</a></li>
                <li class="my-2"><a href="#">Contact</a></li>
            </ul>
        </div>

        <div class="col-md-3 mx-auto mb-4">
            
            <h6 class="text-uppercase font-weight-bold">Contact</h6>
            <hr class="bg-succes mb-4 mt-0 d-inline-block mx-auto" style="width: 110px; height: 2px">

            <ul class="list-unstyled">
                <li class="my-2"><a href="#">Calle 100 #23-9</a></li>
                <li class="my-2"><a href="#">danielvegalinares@hotmail.com</a></li>
                <li class="my-2"><a href="#">+57 0180001464</a></li>
                <li class="my-2"><a href="#">+57 0180005414</a></li>
            </ul>
        </div>

    </div>
</div>

<div class="footer-copyright text-center py-3 bg-dark bg-gradient">
    <p> @Copyright
        <a href="#">www.Crespy'sLunch.com</a>
    </p>
    <p>Panaderia el crespo</p>
</div>
</footer>